:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previeBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;

  --buttonColor: #17a2b8;

  --mailButtonCollor: #dd5e23;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--mainColor);
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
  color: var(--mainText);

  font-family: "Montserrat", cursive;
}

p,
li,
span,
input,
textarea {
  color: var(--mainText);
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

a {
  text-decoration: none;
  color: #17a2b8;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.welcome {
  margin: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;
  color: var(--mainText);
}
.qr-link {
  text-decoration: none;
  color: #17a2b8;
  font-size: 20px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;

  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  box-shadow: 1rem 0 1rem rgb(19, 13, 4);

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}


.nav-wrapper {
  grid-area: nav-wrapper;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#introduction {
  font-size: larger;
  display: flex;
  padding: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

#navigation {
  margin: 0;
  padding: 10px;
}

.dots-wrapper {
  display: flex;
  padding-left: 14px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}
#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 1px 0px rgba(79, 78, 79, 1);
  -moz-box-shadow: -1px 1px 1px 0px rgba(79, 78, 79, 1);
  box-shadow: -1px 1px 1px 0px rgba(79, 78, 79, 1);
}

/* Gallery */

.gallery {
  background-color: var(--secondaryColor);
  border-left: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);

  box-shadow: 1rem 0 1rem rgb(19, 13, 4);

  display: grid;
  grid-template-columns: 1fr;
}

.video-wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  padding: 2%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 10px;
  border: 1px solid var(--borderColor);
}

.video {
  border-radius: 15px;
  aspect-ratio: 16 / 10;
  text-align: center;
  justify-content: center;

}

.video-description {
  margin: 0;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  padding-left: 2%;
  text-align: center;
  flex-wrap: wrap;
  width: 50%;
}

.gallery-container {
  max-width: 100%;
  margin: 0 auto;
}

.s1-gallery {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2-gallery {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

/* More-info-page */

.qr-code-container{
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.app-gallery-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-video-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: fit-content;
  overflow: auto;
}

.app-video-wrapper p {
  margin-bottom: 10px;
  margin-top: 0;
}

.app-video {
  border-radius: 7px;
}

/* Index */

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 230px;
  width: 230px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  box-shadow: 0rem 0 1rem gray;
  border-radius: 7px;
}

.person-theme {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
  padding: 7px;
}

.theme-dot {
  height: 15px;
  width: 15px;
  border-radius: 25%;
  background-color: black;

  margin: 5px;
  /* border: 1px solid var(--themeDotBorder); */

  -webkit-box-shadow: -1px 1px 1px 0px rgba(79, 78, 79, 1);
  -moz-box-shadow: -1px 1px 1px 0px rgba(79, 78, 79, 1);
  box-shadow: -1px 1px 1px 0px rgba(79, 78, 79, 1);

  cursor: pointer;
}

.theme-dot:hover {
  border-radius: 15px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: blue;
}

#green-mode {
  background-color: green;
}

#purple-mode {
  background-color: purple;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 270px;
  height: 170px;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 7px;
}

#preview {
  width: 270px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previeBg);
  padding: 15px;
  position: relative;
  border-radius: 7px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
  border-radius: 7px;
  box-shadow: 0rem 0 0.7rem #000;
}

#social_img {
  width: 100%;
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: 5%;
}

#social-shadow {
  background-color: var(--previewShadow);
  width: 270px;
  height: 330px;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 7px;
}

#social {
  width: 270px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previeBg);
  padding: 15px;
  position: relative;
  border-radius: 7px;
}

.post-wrapper {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  padding-bottom: 50px;

  height: 100%;
  width: 100%;
  top: 70px;
  left: calc(50% - 300px);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.post-preview {
  background-color: var(--previewShadow);
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.post-title {
  color: var(--mainText);
  margin: 0;
}

.post-intro {
  color: var(--secondaryText);
  font-size: 16px;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--mainColor);
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.status {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
}

/* Project Decription */

.app-header {
  justify-content: center;
  padding-left: 5%;
}

.app-description {
  padding-left: 5%;
}

.decription-pic {
  width: 450px;
  margin: 5%;
  border-radius: 7px;
}

.post {
  width: 100%;
}

.post-sc-img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

/* Card Carousel */

.card {
  display: flex;
  height: 100%;
  width: 320px;
  min-width: 270px;
  border-radius: 10px;
  box-shadow: 0rem 0 0.4rem rgb(22, 21, 21);
  margin-bottom: 30px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 5%;
  transition: 0.4s ease-out;
}

/* Screenshots */
.screenshots_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;

  height: 100%;
  width: 100%;
  top: 70px;
  left: calc(50% - 300px);
}

.sc_card {
  display: flex;
  height: 500px;
  width: 320px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -0.7rem 0 3rem #000;

  transition: 0.4s ease-out;
  position: relative;
  margin: 10px;
}

.sc_card:not(:first-child) {
  margin-left: 10px;
}

.sc_card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .scard {
  position: relative;
  left: 5%;
  transition: 4s ease-out;
}

/* New contact form */

#contact {
  width: 500px;
  margin: 2em auto;
  background: var(--mainColor);
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  position: relative;
  box-shadow: 0rem 0 1rem rgb(19, 13, 4);
}
#contact::after {
  content: "";
  display: block;
  height: 30px;
  width: 90%;
  left: 5%;
  bottom: 0;
  position: absolute;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  z-index: -1;
}
#contact article {
  padding: 1em;
}
#contact h1 {
  background: var(--previewShadow);
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 1.75em;
  padding: 0.5em;
  color: var(--mainText);
  /* text-shadow: 0 0.06em 0 #424242; */
  position: relative;
  margin-block-end: 0;
  margin-block-start: 0;
}
.contactbutton {
  background: var(--secondaryColor);
  -webkit-box-shadow: 1px 1px 0 0 var(--previewShadow),
    2px 2px 0 0 var(--previewShadow), 3px 3px 0 0 var(--previewShadow);
  box-shadow: 1px 1px 0 0 var(--previewShadow), 2px 2px 0 0 var(--previewShadow),
    3px 3px 0 0 var(--previewShadow);
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 2px;
  cursor: pointer;
  margin-bottom: 7px;
}
.contactbutton:hover {
  -webkit-box-shadow: 1px 1px 0 0 var(--previewShadow),
    0px 0px 0 0 var(--previewShadow), 0px 0px 0 0 var(--previewShadow);
  box-shadow: 1px 1px 0 0 var(--previewShadow), 0px 0px 0 0 var(--previewShadow),
    0px 0px 0 0 var(--previewShadow);
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.mail {
  margin-top: 11px;
  font-size: 15px;
  display: inline-block;
  border-top: 2em solid transparent;
  border-left: 2.6em solid var(--mailButtonCollor);
  height: 0;
  width: 0;
  position: relative;
}
.mail:before {
  content: "";
  top: -2.5em;
  left: -2.95em;
  display: block;
  position: absolute;
  border-top: 1.2em solid var(--mailButtonCollor);
  border-left: 1.6em solid transparent;
  border-right: 1.6em solid transparent;
  border-bottom: 1em solid transparent;
  font-size: 0.8em;
}
.mail::after {
  display: block;
  content: "";
  position: absolute;
  border-top: 2em solid transparent;
  border-right: 2.6em solid var(--mailButtonCollor);
  height: 0;
  width: 0;
  left: -2.18em;
  bottom: 0;
}
#checkcontact {
  position: absolute;
  left: -9999px;
}
.contactform {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  -ms-transition: all linear 1s;
  transition: all linear 1s;
}
#checkcontact:checked + .contactform {
  max-height: 1000px;
}
.input_wrapper {
  position: relative;
}
.textarea_wrapper textarea {
  margin-top: 20px;
  display: block;
  width: 100%;
  background: var(--mainColor);
  border: 1px solid #002266;
  box-shadow: 0 0 1px 0 #002266;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5e5e5e;
}
.input_wrapper input[type="text"] {
  margin-top: 1em;
  display: block;
  width: 100%;
  background: white;
  border: 1px solid #dadada;
  box-shadow: 0 0 1px 0 #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.7em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5e5e5e;
  text-indent: 20%;
  font-size: 14px;
  border-radius: 5px;
}
.input_wrapper input[type="text"]:focus {
  background: #dadada;
  box-shadow: inset 2px 2px 5px 0 #dadada;
  outline: none;
  text-indent: 0;
}
.input_wrapper label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--previewShadow);
  color: var(--mainText);
  border-radius: 5px;
  box-sizing: border-box;
  width: 20%;
  text-align: center;
  line-height: 2.8em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 16px;
}
.input_wrapper input[type="text"]:focus + label {
  left: 80%;
}
.textarea_wrapper textarea {
  margin-top: 20px;
  display: block;
  width: 100%;
  min-height: 150px;
  background: white;
  border: 1px solid #dadada;
  box-shadow: 0 0 1px 0 #e4e4e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5e5e5e;
  border-radius: 5px;
}
.textarea_wrapper textarea:focus {
  background: #dadada;
  box-shadow: inset 2px 2px 5px 0 #dadada;
  outline: none;
}
.submit_wrapper {
  text-align: center;
}
.submit_wrapper input {
  text-align: center;
  display: inline-block;
  width: 40%;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 0px;
  cursor: pointer;
  background: var(--mailButtonCollor);
  color: var(--mainText);

  font-size: 1em;
  border: none;
  -webkit-box-shadow: 1px 1px 0 0 orange, 2px 2px 0 0 orange, 3px 3px 0 0 orange;
  box-shadow: 1px 1px 0 0 orange, 2px 2px 0 0 orange, 3px 3px 0 0 orange;
  -webkit-appearance: none;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  border-radius: 5px;
}
.submit_wrapper input:hover {
  -webkit-box-shadow: 1px 1px 0 0 orange, 0px 0px 0 0 orange, 0px 0px 0 0 orange;
  box-shadow: 1px 1px 0 0 orange, 0px 0px 0 0 orange, 0px 0px 0 0 orange;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 0px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  #contact {
    width: 100%;
  }
  .input_wrapper label {
    line-height: 3.5em;
    font-size: 0.8em;
  }
  .video-description {
    margin-left: 0%;
    width: 100%;
  }

  .app-video {
    width: 80vw;
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
  .video-description {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }
  .video-description {
    margin-left: 0%;
    width: 100%;
  }

  .video {
    width: 100%;
  }

  .app-video {
    width: 80vw;
  }

  .right-column {
    justify-content: center;
  }

  .decription-pic {
    width: 300px;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }

  .post-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0px;
    justify-content: center;
    padding-bottom: 50px;

    height: 100%;
    width: 100%;
    top: 70px;
    left: 0;
  }
  .decription-pic {
    width: 90%;
    margin: 0;
    padding: 5%;
    border-radius: 7px;
  }
  .right-column {
    margin: 0;
    padding: 0;
  }

  .card {
    height: 100%;
    width: 270px;

    transition: 0s ease-out;
    position: relative;
    left: 0px;
    margin-top: 20px;
  }

  .card:not(:first-child) {
    margin-left: 10px;
  }
  .card:hover ~ .card {
    position: relative;
    left: 0%;
    transition: none;
  }
  .card:hover {
    transform: translateY(0px);
    transition: none;
  }
}
